<!DOCTYPE html>
<html>
  <head>
    <title>EncloseIo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="https://github.com/pmq20/enclose-io"><%= image_tag 'forkme.png', alt: 'Fork me on GitHub', height: 149, style: 'position: absolute; top: 0; right: 0; border: 0;' %></a>
    <%= yield %>
  </body>
</html>
